<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>createFichePatient</title>

    <link
      th:href="@{/css/templates/fichePatient/update/update.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/css/templates/fichePatient/create/create.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/css/templates/fichePatient/showAll/showAll.css}"
      rel="stylesheet"
    />


</head>
<body>

    <div class="ctn-form">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
              <div class="header">
                <h2 class="text-center mb-5">Nouvelle Fiche patient</h2>

              </div>
              <form method="post" enctype="application/x-www-form-urlencoded" th:object="${fichePatientDTO}">
                <div class="item">
    
    
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Date de Creation <span>*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" th:field="*{dateCreation}" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Groupe Sanguin <span>*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" th:field="*{groupesanguin}" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Etat Civil <span>*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" th:field="*{etatCivil}" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Securite Sociale <span>*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" th:field="*{securiteSociale}" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Profession<span>*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" th:field="*{profession}" />
                    </div>
                  </div>
                </div>
    
    
                <div class="btn-submit">
                  <button type="submit" class="button-3" role="button">Sauvegarder</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    
    
        <!-- bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHlua9DmM/" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMmcke49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
</body>
</html>
