<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createAntecedant</title>

    <link th:href="@{/css/templates/antecedant/update/update.css}" rel="stylesheet" />
	<link th:href="@{/css/templates/antecedant/create/create.css}" rel="stylesheet" />
	<link th:href="@{/css/templates/antecedant/showAll/showAll.css}" rel="stylesheet" />


</head>
<body>
    <a class="btn btn-primary" href="/products/create">Ajouter ...</a>
        <table class="table">
            <caption>table of .....</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody> <!--   smth: singular , element: plural-->
                <tr th:each="smth : ${element}">
                    <td th:text="${smth.attributr}"></td>
                    <td th:text="${smth.attributr}"></td>
    <!--attribute--><td th:text="${smth.attributr}"></td>
                    <td th:text="${smth.attributr}"></td>
    <!--add strng--><td th:text="@{${smth.attributr}+'string'}"></td>
    <!--date-->     <td th:text="${smth.attributr.toString().substring(0,10)}"></td>
                    <td class="nameof classe">
    <!--btn update--> <a class="btn-update" th:href="@{/element/edit(id=${smth.id})}">Update </a>    
    <!--btn delete--> <a class="btn-delete" th:href="@{/element/delete(id=${smth.id})}">Delete </a>
                    </td>
    
                </tr>
            </tbody>    
    
    
    
    
        <!-- bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHlua9DmM/" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMmcke49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
</body>
</html>