@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #095d7e;
  --white: #fff;
  --skyblue: #ccecee;
  --red: #ff502f;
  --green: #00816d;
}
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: var(--blue);
}
.ctn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border-radius: 5px;
  width: 600px;
  height: 80vh;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
}
.header h2 {
  font-weight: 500;
}
form {
  margin-top: 20px;
  padding: 20px;
  color: var(--green);
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}
label span {
  color: var(--red);
}
input {
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  box-shadow: none;
  height: 40px;
  color: #888;
  width: 250px;
  padding-left: 10px;
}
.gender {
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 10px;
}
.gender select {
  color: #888;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--white);
  cursor: pointer;
  height: 20px;
}

.gender select option {
  background-color: var(--white);
  color: #888;
}
.button-3 a {
  color: #fff;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-3 {
  appearance: none;
  background-color: var(--green);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 6px 16px;
  width: 150px;
  height: 40px;
  position: relative;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: var(--green);
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: var(--skyblue);
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: var(--green);
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.btn-submit {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 40px;
}
