<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createOrdonnance</title>

    <link th:href="@{/css/templates/ordonnance/update/update.css}" rel="stylesheet" />
	<link th:href="@{/css/templates/ordonnance/create/create.css}" rel="stylesheet" />
	<link th:href="@{/css/templates/ordonnance/showAll/showAll.css}" rel="stylesheet" />


</head>
<body>
    <div class="ctn-form">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
              <div class="header">
                <h2 class="text-center mb-5">Nouvelle Ordonnance</h2>
              </div>
              <form method="post" enctype="application/x-www-form-urlencoded" th:object="${ordonnanceDTO}">
                <div class="item">
                 
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Patient <span>*</span></label>
                    <div class="col-sm-8">
                       <select class="form-select" th:field="*{patientId}">
                        <option value="">Select Patient</option>
                        <option th:each="patientId : ${patientId}" th:value="${patientId}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Contenu <span>*</span></label>
                    <div  class="col-sm-12">
                      <textarea id="content" class="form-control" th:field="*{contenu}"></textarea>
                    </div>
                  </div>
                </div>
                <div class="btn-submit">
                  <button type="submit" class="button-3" role="button">Sauvegarder</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    
        <!-- bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHlua9DmM/" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMmcke49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
</body>
</html>